<div class="alert alert_text" role="alert">
    <h4 class="alert-heading text-success">Հարգելի Դիմորդ!</h4>
    <p class="text-white">Եթե ձեր ներկայիս ունակությունները,գիտելիքները չեն բավարարում կամ չեն համապատասխանում
    տվյալ դասընթացի համար մեր ներկայացրած պահանջներին կամ,եթե դուք դեռ չունեք որևէ տեխնիկական կրթություն,
    ապա այդ դեպքում մենք ձեզ կխնդրենք չհուսահատվել :) և մեր հաջողակ ուսանողը դառնալու համար դիմել մեզ 
    անպայման հաջորդ անգամ,երբ արդեն ձեր գիտելիքները կհամապատասխանեն նշված պահանջներին,սիրով It-School թիմ:
    </p>
    <hr>
    <a [routerLink]="['/home-page']">
        <button type="button" class="btn btn-outline-success" title="<-">To go back</button>
    </a>
</div>
